<%- include("header") %>
<script src="/socket.io/socket.io.js"></script>
<div ng-app="app" ng-controller="ctrl">
	<h2>Some text</h2>
	<p>{{ someText }}</p>
	<h2>Available keywords</h2>
	<ul>
		<li ng-repeat="keyword in availableKeywords">{{ keyword }}</li>
	</ul>
	<h2>Checked keywords</h2>
	<ul>
		<li ng-repeat="keyword in availableKeywords" ng-show="enabledKeywords[keyword]">{{ keyword }}</li>
	</ul>
	<h2>Keywords checking</h2>
	<form>
		<span ng-repeat="keyword in availableKeywords">
			<label for="{{keyword}}">
				<input type="checkbox" ng-model="enabledKeywords[keyword]" name="group" id="{{keyword}}" />
				{{ keyword }}
			</label>
		</span>
	</form>
	<h2>Realtime plots</h2>
	<div id="containers">
	</div>
</div>
<script>
	class LineChart {
		constructor(id, title) {
			this.id = id;
			this.title = title;
		}

		setDataSeries(seriesNames) {
			let data = new Array();
			for(let seriesName in seriesNames) {
				if(!seriesNames[seriesName]) {
					continue;
				}
				//console.log("adding " + seriesName + " to plot");
				data.push({
					name: seriesName,
		            type: "line",
		            showInLegend: true,
		            dataPoints: new Array(),
		            xValueFormatString: "YYYY-MM-DD HH:mm:ss",
				});
			}
			this.chart = new CanvasJS.Chart(this.id, {
		        title: {
		            text: this.title,
		        },
		        axisY: {
		            includeZero: false
		        },      
		        data: data,
		    });
			this.chart.render();
		}

		addDataPoints(seriesName, points) {
			let dps = null;
			//console.log("addDataPoints to " + seriesName + ": " + JSON.stringify(points, null, 2));
			for(let series of this.chart.data) {
				if(series.name == seriesName) {
					dps = series.dataPoints;
					break;
				}
			}
			if(!dps) {
				return;
			}
			dps.push.apply(dps, points);
			this.chart.render();
		}
	}

	var app = angular.module("app", []);
	app.controller("ctrl", function($scope) {
		// Frequencies
		let frequencies = <%- JSON.stringify(frequencies) %>;
		let containers = document.querySelector("#containers");
		for(let frequency in frequencies) {
			containers.innerHTML += '<div id="container_count_' + frequency + '" style="width: 80%; height: 400px"></div><br />';
			containers.innerHTML += '<div id="container_sentiment_' + frequency + '" style="width: 80%; height: 400px"></div><br />';
		}

		// Socket.IO
		let socket = io("/twitter_data");
		socket.on("available_keywords", (keywords) => {
			$scope.availableKeywords = keywords;
			$scope.$apply();
		});
		/*socket.on("twitter_keyword_bitcoin", (results) => {
			console.log("received something: " + JSON.stringify(results, null, 2));
		});*/

		// Angular controller
		$scope.someText = "Lorem ipsum";
		$scope.availableKeywords = [ "word1" ];
		$scope.enabledKeywords = {};
		$scope.$watch("enabledKeywords", (newValue, oldValue) => {
			// Update keyword request
			let seriesNames = {};
			for(let keyword in newValue) {
				for(let frequency in frequencies) {
					seriesNames["twitter_keyword_" + keyword + "_" + frequency] = newValue[keyword];
				}
			}
			socket.emit("request_series", seriesNames);
			// Update chart
			for(let frequency in frequencies) {
				let filtered = {};
				for(let seriesName in seriesNames) {
					if(seriesName.split("_").slice(-1)[0] == frequency) {
						filtered[seriesName] = seriesNames[seriesName];
					}
				}
				chartsCount[frequency].setDataSeries(filtered);
				chartsSentiment[frequency].setDataSeries(filtered);
			}
			for(let seriesName in seriesNames) {
				if(!seriesNames[seriesName]) {
					continue;
				}
				socket.off(seriesName);
				((seriesName) => {
				socket.on(seriesName, (data) => {
					console.log("got data for series " + seriesName + ": " + JSON.stringify(data, null, 2));
					let frequency = seriesName.split("_").slice(-1)[0];
					let chartCount = chartsCount[frequency];
					let chartSentiment = chartsSentiment[frequency];
					chartCount.addDataPoints(seriesName, data.map((obj) => ({ x: new Date(obj.date), y: obj.count })));
					chartSentiment.addDataPoints(seriesName, data.map((obj) => ({ x: new Date(obj.date), y: obj.avg_sentiment_score })));
				});
				})(seriesName);
			}
		}, true);

		// Charts
		let chartsCount = {};
		let chartsSentiment = {};
		for(let frequency in frequencies) {
			chartsCount[frequency] = new LineChart("container_count_" + frequency, "Tweet counts (" + frequencies[frequency] + ")");
			chartsSentiment[frequency] = new LineChart("container_sentiment_" + frequency, "Sentiment score (" + frequencies[frequency] + ")");
		}
	});
</script>
<%- include("footer") %>